body {
  font-family: Arial;
  background-color: #BBBBBB;
}
#name {
  font-size: 36px; 
  margin-bottom: 0;
}

#profession {
  margin-top: 0; 
  padding-top: 0;
}


.container {
  max-width: 80em;
  margin-right: auto;
  margin-left: auto;
  background-color: #FFFFFF;
  padding-left: 100px;
  padding-right: 100px;
}

.info {
  display: inline-block;
}

  


  
