body {
  font-family: Arial;
}
#name {
  font-size: 50px; 
  margin-bottom: 0;
}

#profession {
  margin-top: 0; 
  padding-top: 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  max-width: 80em;
  margin-right: auto;
  margin-left: auto;
  background-color: red;
}





.sideColumn {
  float: left;
  width: 20%;
  background-color: rgb(200, 200, 200);
}

.mainColumn {
  float: left;
  width: 60%
}
  
